.main-grid {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  max-width: 100vw;
  font-family: "Inter", sans-serif;
  background-color: black;
}

.ant-spin-dot-item {
  background-color: white !important;
}

.container-sidebar {
  background: #2c2c2c;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  width: 18%;
  flex-direction: column;
  justify-content: space-between;
}

.account-info {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}

.profile-icon {
  font-size: 36px;
  color: #c67bcd;
}

.account-name {
  font-size: 16px;
  font-weight: bold;
}

.account-type {
  font-size: 14px;
  color: #a0a0a0;
}

.new-chat-btn {
  background-color: #8f3e97;
  color: white;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  margin-bottom: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #b0b0b0;
  cursor: pointer;
  gap: 10px;
}

.settings-item:hover {
  color: white;
}

.icon {
  margin-right: 10px;
  font-size: 16px;
}

.logout {
  color: #ff4b4b;
}

.container {
  background: #2c2c2c;
  background-image: radial-gradient(
    circle at bottom,
    #903e9788,
    #903e974c,
    transparent,
    transparent
  );
  margin: 10px;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  flex: 1;
  width: 100%;
}

.scroll-container {
  overflow-y: auto;
  width: 100%;
  margin-bottom: 60px;
  /* Hide scrollbar for Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.header {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  margin-top: 150px;
}

.logo {
  position: fixed;
  top: 20px;
  left: 300px;
  font-size: 24px;
  margin: 10px;
  height: 50px;
  object-fit: fill;
}

.title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tagline {
  font-size: 18px;
  font-weight: 300;
  color: #bbbbbb;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}

.grid-container-1 {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  gap: 20px;
}

.img-xray {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: #00000076 5px 5px 10px;
}

.upload-area h4 {
  margin-bottom: 10px;
}

.file-input {
  background-color: transparent;
  color: #e1a8e7;
  border: 2px solid #e1a8e7;
  border-radius: 5px;
  padding: 10px;
  width: 600px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.file-input:hover {
  background-color: rgba(255, 0, 127, 0.1);
}

.background-style {
  background-color: #2c2c2c;
  background-image: radial-gradient(
    circle at bottom,
    #903e9788,
    #903e9756,
    #903e9719
  );
  margin: 10px;
  padding: 15px;
}

.button-submit {
  background-color: #8f3e97;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.button-submit:hover {
  background-color: #722d78;
}

.button-submit:disabled {
  background-color: #8f3e97; /* Set the background color same as the normal state or another if needed */
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */
  color: #ccc; /* Optional: change text color when disabled */
}

.button-submit:disabled:hover {
  background-color: #8f3e97; /* Ensure hover has no effect */
}
