* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1a1a1a; /* Dark background */
  color: #e8eaed;
  margin: 0;
  padding: 0;
}

.medical-container {
  padding: 4rem 2rem;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 2.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  color: #8e5493dd;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #fff;
}

.conditions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.card {
  background-color: #292a2d;
  padding: 2rem;
  border-radius: 10px;
  text-align: left;
  position: relative;
  border: 3px solid #8f3e97;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.card h2 {
  color: #f1f3f4;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.card p {
  color: #e8eaed;
  font-size: 1rem;
  line-height: 1.5;
}

.read-more {
  display: inline-block;
  margin-top: 1rem;
  color: #8ab4f8;
  text-decoration: none;
  border: 2px solid #8ab4f8;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.read-more:hover {
  background-color: #8ab4f8;
  color: #121212;
}
